@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    color: hsl(210, 10%, 33%);
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

header {
   
    align-items: center;
    text-align: center;
}
h1,
h2,
h4 {
    font-weight: bold;
    text-align: center;
}

h3 {
    border: none;
}

p {
    color: hsl(201, 11%, 66%);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


.text-section {
    max-width: 350px;
    display: inline-block;
    margin: 5rem 5rem 10rem 10rem;
    
}

.left-align {
    text-align: left;
    
}

.section-one {
max-width: 610px;
text-align: center;
margin:0 auto;
padding: 5rem 0 5rem 0;
}

.image-device {
    text-align: center;
    margin:5rem 0;
}

.section-two {
max-width: 610px;
text-align: center;
margin:0 auto;
padding: 10rem 0 5rem 0;
}

.section-three {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 600px;
    grid-auto-flow: row;
    column-gap: 15px;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.section-four {
    
}

.btn {
    color:white;
    
}

.btn--green {
    background-color: hsl(171, 66%, 44%);

}

.btn--purple {
    background-color:hsl(233, 100%, 69%);
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
