@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    color: hsl(210, 10%, 33%);
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin: 0 auto;
}

header {
   
    align-items: center;
    text-align: center;
}
h1,
h2,
h4 {
    font-weight: bold;
    text-align: center;
}

h3 {
    border: none;
}

p {
    color: hsl(201, 11%, 66%);
    text-align: center;
    max-width: 35rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

img {
    max-width: 100%;
    height: auto;
}


.text-section {
    max-width: 350px;
    display: inline-block;
    margin: 5rem 5rem 5rem 5rem;
    
}

.left-align {
    text-align: left;
    
}

.section-one  {
max-width: 610px;
text-align: center;
margin:0 auto;
padding: 5rem 0 5rem 0;
}

.image-device {
    text-align: center;
    margin:5rem 0;
}

.section-two {
max-width: 610px;
text-align: center;
margin:0 auto;
padding: 2rem 0 5rem 0;
}

.section-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr, minmax(320px, 1fr));
    grid-template-rows: repeat(1, 300px);
    column-gap: 15px;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.section-four {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
}
.section-five {
width: 50%;
text-align: center;
margin:0 auto;
padding: 5rem 0 5rem 0;
}


.btn {
    color:white;
    border-radius: 10rem;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }

    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 50px;
    grid-auto-flow: row;
    column-gap: 15px;
    row-gap: 3em;
    justify-content: center;
    align-items: center;
    text-align: center; 
  
  .btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.btn--green {
    background-color: hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);

}

.btn--purple {
    background-color:hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
    margin: .5rem;
}


.directory {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
        max-width: 1000px;
        text-align: left;
        margin: 0 auto;
      }

.press {
    grid-column: 1;
    grid-row: 2 / 2;
}

.install {
    grid-column: 2;
    grid-row: 2 / 2;
}

.bottom-logo {
    display: block;
    margin: 0 auto;
}
.social-icons {
display: flex;
max-width: 200px;
text-align: right;
margin: 0 auto;
}

.icons {
    margin:1rem;
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
